<!DOCTYPE html>
<html>
<head>
    <title>Precios de Autos Usados</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <script>
        function clasificarInsecto(event) {
            event.preventDefault();
            const Year = document.getElementById('Year').value;
            const Fuel_Type = document.getElementById('Fuel_Type').value;
            const Transmission = document.getElementById('Transmission').value;
            const Mileage = document.getElementById('Mileage').value;
            const Engine = document.getElementById('Engine').value;
            const Seats = document.getElementById('Seats').value;

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `Year=${Year}&Fuel_Type=${Fuel_Type}&Transmission=${Transmission}&Mileage=${Mileage}&Engine=${Engine}&Seats=${Seats}`,
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('resultado').innerText = 'Error: ' + data.error;
                } else {
                    document.getElementById('resultado').innerText = 'El Precio es de: $' + data.categoria;
                }
                
            })
            .catch(error => {
                document.getElementById('resultado').innerText = 'Error en la solicitud.';
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Precios de Autos Usados</h1>
        <form id="formulario" onsubmit="clasificarInsecto(event)">
            <label for="Year">Año del automovil:</label>
            <input type="text" id="Year" name="Year">
            <label for="Fuel_Type">Año del automovil:</label>
            <input type="text" id="Fuel_Type" name="Fuel_Type">
            <label for="Transmission">Transmission:</label>
                <select name="Transmission" id="Transmission" required>
                    <option value="Manual">Manual</option>
                    <option value="Automatic">Automatic</option>
                </select><br>
            <label for="Mileage">Motor:</label>
            <input type="text" id="Mileage" name="Mileage">
            <label for="Engine">Motor:</label>
            <input type="text" id="Engine" name="Engine">
            <label for="Seats">Asientos:</label>
            <input type="text" id="Seats" name="Seats">
            <input type="submit" value="Enviar">
        </form>
        <p id="resultado"></p>
    </div>
    
</body>
</html>
